.e-playing-card {
  position: relative;
  float: left;
  width: 200px;
  height: 300px;
  margin: 10px;
  text-transform: capitalize;
  background-image: url('~@/images/desk.svg');
  background-size: 3500px;
  //
  @for $value from 0 through 12 {
    $name: $value + 2;
    @if $value == 12 {
      $name: 'ace';
      $value: -1;
    }
    @else if $value == 11 {
      $name: 'king';
    }
    @else if $value == 10 {
      $name: 'queen';
    }
    @else if $value == 9 {
      $name: 'jack';
    }

    &.-cost-#{$name} {
      background-position-x: 2917.5px - $value * 213.5px;
    }
  }
  //
  @each $suit, $i in (clubs: 0, hearts: 1, spades: 2, diamonds: 3) {
    &.-suit-#{$suit} {
      background-position-y: 1763.5px - $i * 285px;
    }
  }
}
