body {
  background-color: #ddd;
}

.taked-cards {
  margin-top: 15px;

  li {
    position: relative;
    float: left;
    width: 200px;
    height: 300px;
    margin: 10px;
    background-image: url('./icons/desk.svg');
    color: transparent;
  }
}
