$pt: 50px;

body {
  padding-top: $pt;
  background-color: #ddd;
}

.b-panel {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: $pt;
  background-color: rgba(#fff, .5);
  box-shadow: 0 1px 1px rgba(#000, .5);

  &__button {
    margin: 0 10px;
  }

  &.-disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.b-taked-cards {
  margin-top: 15px;
  list-style: none;
  text-align: center;
  font-weight: bold;

  .playing-card {
    position: relative;
    float: left;
    width: 200px;
    height: 300px;
    margin: 10px;
    background-image: url('~@/icons/desk.svg');
    background-size: 3500px;
    //
    @for $value from 0 through 7 {
      &.-value-#{$value} {
        background-position-x: 2063.5px - 213.5px * $value;
      }
    }

    &.-value-8 {
      background-position-x: 2063.5px + 213.5px * 5;
    }
    //
    @for $suitNumber from 0 through 3 {
      &.-suit-#{$suitNumber} {
        background-position-y: 1763.5px - 285px * $suitNumber;
      }
    }
  }
}
